Repository cogip/cogip-tools, pull requests merged in 2025-01, with the labels that each got.

#131 Monitor: apply dark theme to the Monitor
  Dockerfile
  cogip/tools/monitor/main.py
  cogip/tools/monitor/mainwindow.py
Labels: enhancement, monitor

#132 Dashboard: factorize template
  cogip/tools/dashboard/__main__.py
  cogip/tools/dashboard/routes/beacon.py
  cogip/tools/dashboard/static/css/index.css
  cogip/tools/dashboard/static/img/robot1.png
  cogip/tools/dashboard/static/img/robot2.png
  cogip/tools/dashboard/static/img/robot3.png
  cogip/tools/dashboard/static/img/robot4.png
  cogip/tools/dashboard/static/js/drawModule.js
  cogip/tools/dashboard/static/js/socketModule.js
  cogip/tools/dashboard/templates/dashboard.html
  cogip/tools/dashboard_beacon/__init__.py
  cogip/tools/dashboard_beacon/__main__.py
  cogip/tools/dashboard_beacon/app.py
  cogip/tools/dashboard_beacon/dashboard.py
  cogip/tools/dashboard_beacon/routes/__init__.py
  cogip/tools/dashboard_beacon/routes/beacon.py
  cogip/tools/dashboard_beacon/static/css/external/bootstrap-5.3.3.min.css
  cogip/tools/dashboard_beacon/static/css/external/bootstrap.min.css.map
  cogip/tools/dashboard_beacon/static/css/index.css
  cogip/tools/dashboard_beacon/static/css/purged/bootstrap-5.3.0-alpha.min.css
  cogip/tools/dashboard_beacon/static/css/purged/bootstrap-5.3.3.min.css
  cogip/tools/dashboard_beacon/static/img/backspace.svg
  cogip/tools/dashboard_beacon/static/img/camera.svg
  cogip/tools/dashboard_beacon/static/img/caps_lock.svg
  cogip/tools/dashboard_beacon/static/img/check_green_circle.svg
  cogip/tools/dashboard_beacon/static/img/cogip-logo.png
  cogip/tools/dashboard_beacon/static/img/cross_red_circle.svg
  cogip/tools/dashboard_beacon/static/img/ground2024.png
  cogip/tools/dashboard_beacon/static/img/message.svg
  cogip/tools/dashboard_beacon/static/img/refresh.svg
  cogip/tools/dashboard_beacon/static/img/robot.png
  cogip/tools/dashboard_beacon/static/img/space_bar.svg
  cogip/tools/dashboard_beacon/static/js/drawModule.js
  cogip/tools/dashboard_beacon/static/js/external/bootstrap-5.3.3.min.js
  cogip/tools/dashboard_beacon/static/js/external/bootstrap.min.js.map
  cogip/tools/dashboard_beacon/static/js/external/socket.io.min.js
  cogip/tools/dashboard_beacon/static/js/external/socket.io.min.js.map
  cogip/tools/dashboard_beacon/static/js/keyboardModule.js
  cogip/tools/dashboard_beacon/static/js/scoreModule.js
  cogip/tools/dashboard_beacon/static/js/socketModule.js
  cogip/tools/dashboard_beacon/static/js/wizardModule.js
  cogip/tools/dashboard_beacon/templates/dashboard.html
  cogip/tools/monitor/socketiocontroller.py
  cogip/tools/server/namespaces/planner.py
  cogip/tools/server_beacon/robot.py
  docker-compose.yml
  docs/developers/dashboard.md
  docs/index.md
  docs/usage/dashboard.md
  docs/usage/dashboard_beacon.md
  mkdocs.yml
  pyproject.toml
  raspios/Dockerfile.customize
  raspios/overlay-rootfs/etc/systemd/system/cogip-dashboard-beacon.service
Labels: dashboard, refactoring

#138 PAMI: use CAN instead of serial port to communicate between Firmware and Copilot
  cogip/tools/copilot_pami/__init__.py
  cogip/tools/copilot_pami/__main__.py
  cogip/tools/copilot_pami/controller.py
  cogip/tools/copilot_pami/copilot.py
  cogip/tools/copilot_pami/menu.py
  cogip/tools/copilot_pami/pbcom.py
  cogip/tools/copilot_pami/pid.py
  cogip/tools/copilot_pami/sio_events.py
  docker-compose.yml
  docs/install.md
  pyproject.toml
  raspios/Dockerfile.customize
  raspios/overlay-rootfs/etc/environment
  raspios/stage2_create_image.sh
Labels: documentation, feature, copilot, raspios

#144 118 move avoidance to c++
  Dockerfile
  cogip/cpp/libraries/CMakeLists.txt
  cogip/cpp/libraries/avoidance/Avoidance.cpp
  cogip/cpp/libraries/avoidance/CMakeLists.txt
  cogip/cpp/libraries/avoidance/binding.cpp
  cogip/cpp/libraries/avoidance/include/avoidance/Avoidance.hpp
  cogip/cpp/libraries/logger/include/logger/Logger.hpp
  cogip/tools/planner/__main__.py
  cogip/tools/planner/avoidance/avoidance.py
  cogip/tools/planner/avoidance/process.py
  cogip/tools/planner/context.py
  cogip/tools/planner/planner.py
  cogip/tools/planner/properties.py
  docker-compose.yml
Labels: enhancement, refactoring, planner

#146 Add SC Servo driver and usage example feature
  cogip/scservo_sdk/__init__.py
  cogip/scservo_sdk/group_sync_read.py
  cogip/scservo_sdk/group_sync_write.py
  cogip/scservo_sdk/port_handler.py
  cogip/scservo_sdk/protocol_packet_handler.py
  cogip/scservo_sdk/scscl.py
  cogip/scservo_sdk/scservo_def.py
  cogip/scservo_sdk/sms_sts.py
  cogip/tools/scservo/__init__.py
  cogip/tools/scservo/__main__.py
  cogip/tools/scservo/common.py
  cogip/tools/scservo/ping.py
  cogip/tools/scservo/read.py
  cogip/tools/scservo/reg_write.py
  cogip/tools/scservo/sync_write.py
  cogip/tools/scservo/wheel.py
  cogip/tools/scservo/write.py
  pyproject.toml
  uv.lock
Labels: feature
